<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css"></link>
</head>
<body>
    <div id="helloVue" class="center column">
        <h1>{{ title }}</h1>
        <a href="https://vuejs.org/v2/guide/installation.html">{{ message }}</a>
    </div>

    <div class="row marg5">
        <div id="vocab" class="column mw10">
            <ul>
                <li v-for="vocab in vocabulary"
                    @click="toggleDef(vocab)">
                    <h3>{{vocab.title}}</h3>
                    <div v-show="vocab.showDef">
                        <p>{{ vocab.definition }}</p>
                        <p v-if="vocab.category">Category: {{ vocab.category }}</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="app.js"></script>
</body>
</html>